*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkblue;
}
header{
    color: yellow;
    background-color: darkorange;
    text-align: center;
    padding: 1rem;
}
main{
    margin: 1rem;
    text-align: center;
}