.Course ul{
    font-size: 20px;
}

.UserInput input,
.UserInput button{
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: 3px solid black;
}

.UserInput input::placeholder,
.UserInput button::placeholder{
    color: black;
}

.DisplayData{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.DisplayData table{
    width: 100%;
    padding: 10px;
    background-color: rgb(129, 63, 75);
}

.DisplayData table th,
.DisplayData table td{
    border: 5px solid black;
    padding: 10px 50px;
    text-align: center;
    font-size: 20px;
}




/* ============================
            CourseBar
 ============================= */

.CourseBar ul{
    list-style-type: none;
}
.CourseBar ul li{
    padding-right: 20px;
}