.Navbar ul {
  border: 2px solid blue;  
  background-color: rgba(9, 9, 188, 0.5);
  width: 90%;
  height: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px; 

  display: flex;
  align-items: center;
  justify-content: space-between;

    list-style-type: none;

    overflow: hidden;

    
}

.NavLeft{
    width: 70%;
    display: flex;
}
.NavRight{
    width: 30%;
    float: right;
}


.NavLeft > li ,
.NavRight > li{
  margin-right: 20px;
}

.active {
  background-color: rgba(103, 182, 79, 0.6);
  box-sizing: 0 0 10px red;
  transition: all .40s ease;
  margin: 10px;
  box-shadow: 0 0 20px gray;
}

.Navbar ul li a{
  display: block;
  padding: 5px 10px;
  color: white;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.last {
  float: right;
}
