<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1>Trainer Page</h1>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'app1:app1' %}">App1</a>
        <a href="{% url 'app2:app2' %}">App2</a>
    </header>
    <main>
        <h3>List of Trainers</h3>
        <ul>
            {% for trainer in trainers %}
                <li>{{trainer}}</li>
            {% empty %}
                <h3>No Trainer Avalabe Currenly</h3>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <h3>Thanks for visiting My Site</h3>
    </footer>
</body>
</html>