<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index:Django</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1>Django App Development: MySite</h1>
    </header>
    <main>
        <h3>{{msg}}</h3>
        <h3>{{msg}}</h3>
        <h3>{{msg}}</h3>
    </main>
    <footer>
        <h1>Thanks for visiting</h1>
    </footer>
</body>
</html>