<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        {% block heading %}
        {% endblock heading %}
        
        {% block navbar %}
        {% endblock navbar %}
    </header>

    <main>
        {% block msg %}
        {% endblock msg %}
    </main>
</body>
</html>