header{
    text-align: center;
    background-color: aquamarine;
    color: red;
    position: fixed;
    width: 100%;
    top: 0;
}
main{
    text-align: center;
    color: blue;
}
footer{
    text-align: center;
    background-color: rgb(2, 2, 36);
    color: aliceblue;
    position: fixed;
    width: 100%;
    bottom: 0.5%;
}