table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
caption{
    background-color: aqua;
    color: rgb(3, 3, 39);
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    border: 2px solid blue;
}
table,th,td{
    border: 1px solid red;
    border-collapse: collapse;
}
th{
    background-color: bisque;
    color: red;
    height: 30px;
    font-style: italic;
}
tr:nth-child(even){
    background-color: lightgoldenrodyellow;
}
tr:hover{
    background-color: rgb(2, 2, 39);
    color: aliceblue;
    text-align: center;
    height: 55px;
    text-transform: uppercase;
}
td{
    text-align: center;
    height: 30px;
}