*{
    text-align: center;
}

header{
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header a{
    padding-right: 10px;
}
header h1{
    font-size: 50px;
}

main{
    background-color: lightgreen;
}

footer{
    background-color: yellow;
}