<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
            Base
        {% endblock title %}
    </title>
</head> 
<body>
    <div class="container">
        <div class="header">
            {% block header %}
            {% endblock header %}
        </div>
        <div class="left">
            {% block left %}
            {% endblock left %}
        </div>
        <div class="main">
            {% block main %}
            {% endblock main %}
        </div>
        <div class="right">
            {% block right %}
            {% endblock right %}
        </div>
        <div class="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </div>
</body>
</html>