<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnerIdPage</title>
    <link rel="stylesheet" href="{% static 'learner/css/learnerPage.css' %}">
</head>
<body>
    <header>
        <h1>Student Page</h1>
        <a href="">Home</a>
        <a href="">Learner</a>
        <a href="">Trainer</a>
    </header>
    <main>
        <h3>{{msg}}</h3>
        <h3>{{msg}}</h3>
        <h3>{{msg}}</h3>
    </main>
    <footer>
        <h1>Thanks for visiting mysite</h1>
    </footer>
</body>
</html>