{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock css %}

{% block title %}
    {{title}}
{% endblock title %}

{% block header %}
    <h1>{{heading}}</h1>
    {% include 'navbar.html' %}
{% endblock header %}

{% block main %}
    <h3>{{msg}}</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
        <input type="reset" value="Cancel">
    </form>
{% endblock main %}

{% block footer %}
    <h1>Thanks for Visiting</h1>
{% endblock footer %}